*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	
}

body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #0f2634;

}

button{
	position: relative;
	cursor: pointer;
	margin: 0 10px;
	width: 140px;
	height: 30px;
	font-size: 15px;
	font-weight: 500;
	color: white;
	background: #0f2634;
	letter-spacing: 1px;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,5);
	top: -250px
}
button p{
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
	z-index: 2;
}

button span{
	cursor: pointer;
	position: absolute;
	width: 200px;
	height: 100px;
	z-index: 1;
	left: 0;
	transition: .2s linear;
}

button:nth-child(3) span{
	transform: translateY(40px);
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	background: rgb(235,72,23);
}

button:nth-child(3):hover span{
	transform: translateY(-20px);
	border-radius: 10px;
}

button:nth-child(4) span{
	transform: translateY(-115px);
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	background: rgb(236,31,117);
}

button:nth-child(4):hover span{
	transform: translateY(-20px);
	border-radius: 10px;
}

button:nth-child(5) span{
	transform: translateX(200px) translateY(-40px);
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	background: rgb(23,133,235);
}

button:nth-child(5):hover span{
	transform: translateY(-40px);
	border-radius: 10px;
}

button:nth-child(6) span{
	transform: translateY(40px);
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	background: yellow;
}

button:nth-child(6):hover span{
	transform: translateY(-20px);
	border-radius: 10px;
}

button:nth-child(7) span{
	transform: translateY(40px);
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	background: rgb(235,72,23);
}

button:nth-child(7):hover span{
	transform: translateY(-20px);
	border-radius: 10px;
}


div{
	position: absolute;
	top: 10px;
	left: 10px;
}

div2{
	position: absolute;
	right: 10px;
	top: 10px;
}

hr{
	position: absolute;
	top: 85px;
	right: 12px;
}
